<%= render 'pages/navbar' %>

<%= stylesheet_link_tag "poster_new" %>

<h1 align="center">New post</h1>

<div class="container">
<%= form_with(model: @poster) do |form| %>
  <% if @poster.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
        <% @poster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="input-group mb-3">
  <div class="input-group-prepend">
  </div>
  <%= form.text_field :title, class:"form-control" %>
</div>

  <div class="input-group">
  <div class="input-group-prepend">
    <%# <span class="input-group-text"><%= form.label :body, style: "display: block" %>
  </div>
  <%= form.text_area :body, class: "form-control"%>
</div>

    <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, class: "btn btn-secondary"%>
  </div>

      <% if current_user.moderator? || current_user.admin? %>
    <div>
  <%= form.label :user, style: "display: block" %>
  <%= form.select :user_id, options_for_select(@users.collect { |cat| [cat.username, cat.id] } ) %>
  </div> 
     
   <% else %>
     <div>
       <%= form.number_field :user_id, id: :project_user_id, value: current_user.id, type: :hidden %>
   </div>
    <% end %>


  <div>
    <%= form.submit "Creat Post", class: "btn btn-primary" %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to posters", posters_path %>
</div>
</div>



<%= render 'projects/menu' %>