<html>
  <head>
  <%= stylesheet_link_tag "register"%>
  </head>

  <body class="body_reg">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3 h4_reg">Sign Up</h4>
                        <div class="form-group">
                         <%= f.text_field :username, class: "form-style",autofocus: true, placeholder: "Your Username" %>
                            <i class="input-icon uil uil-user"></i>
                          </div>
                        <div class="form-group mt-2">
                        <%= f.email_field :email, autocomplete: "email", class:"form-style", placeholder: "Your Email" %>
                          <i class="input-icon uil uil-at"></i>
                        </div>

                        <div class="form-group mt-2">
                        <%= f.password_field :password, autocomplete: "new-password",class: "form-style",placeholder: "Your Password" %><i class="input-icon uil uil-lock-alt"></i>
                          
                        </div>
                          <div class="form-group mt-2">
                           <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-style", placeholder: "Confirm Password"%>
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                        <%= f.submit "Sign up", class: "btn mt-4", data: {turbo: false} %><br /><span class="span_reg"><%= link_to "Login", new_user_session_path, class: "link" %></span>
                      <% end %>
                      </div>
                    </div>
                  </div>
  </body>
  <%= render "devise/shared/links" %>
</html>