<h1>New task</h1>

<%= render 'form' %>

<hr>
<% @tasks.each do |task| %>
<% if task.persisted? %>
  <tr>
    <td><%= task.description %></td> <br>
    <%# <td><%= task.project </td> <br> %>
    <td><%= link_to 'Show', [task.project, task] %></td> 
    <td><%= link_to 'Destroy', [task.project, task], 'data-turbo-method': :delete %></td> <br>
  </tr>
<% end %>
<% end %>
</table>


<%= link_to 'Back', project_tasks_path(@task.project) %>
<%= render 'projects/menu' %>
