<div class="comment-<%= pcomment.id %> container"
    style="border: 1px solid black; padding: 1em; margin: 1em;">
    <div id="comment-body-<%= pcomment.id %>">
    <%= pcomment.name %>
  </div><hr />
  <%= pcomment.user.username %><br />
  <% if (pcomment.updated_at - pcomment.created_at) > 1 %>
    <span>Edited <%= time_ago_in_words(pcomment.updated_at) %> ago</span>
  <% else %>
    <span>Posted <%= time_ago_in_words(pcomment.created_at) %> ago</span>
  <% end %>
  <% if current_user == pcomment.user %>
    <div class="btn-group float-end">
      <%= link_to "Edit", nil, remote: true, class:"btn btn-warning",
      data: {
        controller: "comments",
        action: "comments#toggleForm",
        comments_form_param: "edit-form-#{pcomment.id}",
        comments_body_param: "comment-body-#{pcomment.id}",
        comments_edit_param: "edit-button-#{pcomment.id}"
      },
      id: "edit-button-#{pcomment.id}" %>
      <%= button_to "Delete", [poster, pcomment], class:"btn btn-danger", method: :delete %>
    </div>
    <div id="edit-form-<%= pcomment.id %>" class="d-none">
      <%= render 'pcomments/form',
       poster: @poster,
       pcomment: pcomment,
       submit_label: "Update" %>
    </div>
  <% end %>
  

</div>