<%= stylesheet_link_tag "navbar" %>
<nav class="navbar navbar-expand-lg navbar-light bg-light2">
  <div class="container-fluid">
    <a class="colorusername anavbaruser" href="">Hello <%= current_user.username %>! -><%= current_user.role %></a>
    <button id="navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul> 
      <ul class="navbar-nav">
              <li ><a class="anavbar">  
                <%= link_to 'New Blog',  posters_path, class: "controldrop btndrop anavbar" %>
              </li></a>
            </ul><br>
                  <ul class="navbar-nav">
              <li ><a class="anavbar">  
                <%= link_to 'New Project',  new_project_path, class: "controldrop btndrop anavbar" %>
              </li></a>
            </ul><br>
 <label class="drop">
                <input type="checkbox" id="target-drop-example"> <!-- Toggle Drop -->
                <span class="controldrop btndrop">Profile</span> <!-- Fake button -->
          
                <!-- Items -->
                <ul class="drop-items">
                  <li class="item-drop">
                   <%= link_to "Edit Account", edit_user_registration_path, class: "adrop" %></li> 
                  <li class="item-drop">
                    <%= link_to('Logout', destroy_user_session_path, 'data-turbo-method': :delete, class: "#" ) %></li>
                </ul>
          
                <!-- Alternative to close dropdown with click out -->
                <label for="target-drop-example" class="overlay-close"></label>
          
              </label>
    </div>
  </div>
</nav>