<p style="color: green"><%= notice %></p>
<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
   <% if project.user == current_user %>
    <%= render project %>
<%# <%= link_to 'Back', :back %>
              <%= link_to "Show this project", project %>
              <br/>    <p>
     
    </p>
           <% end %>
  <% end %>
</div>
<%= link_to "New project", new_project_path %>
