<html>
<head>
<%= stylesheet_link_tag "project_show" %>
</head>
<%= render "pages/navbar" %>
<body class="body_pshow">  
    <h1 class="h1_show"><%= @project.name %></h1>

<%# <%= link_to 'Back', :back %>              

    
  
    <%= link_to "Edit Project", edit_project_path(@project), class: "controldrop   mt-4 edit_btn btn_s anavbar3"  %>
    <%= button_to "Delete Project", @project, method: :delete, class: "controldrop  anavbar3 mt-4 edit_btn btn_s" %>
<div class="project__container">
<div class="card1">
  <h1 align="center">Task</h1>
  <div class="container">
    <h4><p align="center"><%= link_to 'New Task', new_project_task_path(@project.friendly_id), class: 'a_task_att'%></p></h4> 
  </div>
</div>

<div class="card1">
  <h1 align="center">Attachment</h1>
  <div class="container">
    <h4><p align="center"><%= link_to 'New Attachment', new_project_attacher_path(@project.friendly_id), class: 'a_task_att' %></p></h4> 
  </div>
</div>

</div>

<%= render "menu" %>
</body>
</html>