<html >
  <head>
  <%= stylesheet_link_tag "register"%>
  </head>
  <body class="body_reg">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <h6 class="mb-0 pb-3 h6_reg">
                <span>Log in</span> 
              </h6>
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Log In</h4>
                        <div class="form-group">
                            <%= f.email_field :email, autofocus: true, class: "form-style", placeholder: "Your Email" %>
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-style", placeholder: "Your Password" %>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                            <%= f.submit "Log in", data: {turbo: false}, class: "btn mt-4"%>
                        <p class="mb-0 mt-4 text-center p_reg">
                        <%= link_to "Sign Up!", new_user_registration_path, class: "link" %> <br />
                          <a href="/users/password/new" class="link a_reg">Forgot your password?</a>
                        </p>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%= render "devise/shared/links" %>
</html>





